<a href="https://colab.research.google.com/github/JFMilan06/58002_OOP/blob/main/Boolean_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Phyton Operators

In [5]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10//5)
print(10%3)
print(10**2)

15
5
50
2.0
2
1
100

In [16]:
#
a=60
b=13
a<<1
a>>1

30

Phyton assignment operators

In [22]:
x=1
x+=3
print(x)

x=1
x-=3
print(x)

x=1
x*=3
print(x)

x=1
x/=3
print(x)

4
-2
3
0.3333333333333333

Logical Operators

In [30]:
x = True
y = False

print(x and y)
print(x or y)
print(not (x or y))

False
True
False

Identity Operators

In [31]:
print (x is y)
print (x is not y)

False
True

In [63]:
s = int(input())
t = int(input())

print("the sum is ",s+t)

s=0
t=0
s = int(input())
t = int(input())

print("the difference is ",s-t)
s=0
t=0
s = int(input())
t = int(input())

print("the product is ",s*t)
s=0
t=0
s = int(input())
t = int(input())

print("the quotient is ",s/t)

1
2
the sum is  3
3
3
the difference is  0
3
3
the product is  9
3
3
the quotient is  1.0